.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 60%;

  background: rgb(53, 53, 53);

  z-index: 500;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(250, 39, 39, 0.616);
  font-size: 25px;
  right: 10px;

  
  z-index: 700;
}

.modal__fade { 
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(53, 53, 53, 0.363);

  z-index: 499;
}

.modal__container {
  width: 100%;
  height: 100%;
  background: rgba(68, 65, 65, 0.301);
  padding: 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  color: #ffffff;
  font-size: 17px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  scroll-behavior: unset;

  z-index: 600;
}

.modal__contacts{
  padding: 20px 20px;
  border-width: 1px;
	border-style: ridge;
	border-color: white;
	width: 50%;
	height: 100%;
  
}
.modal__info__header {
  width: 100%;
  padding: 0px 10px;

  background: white;
  color: black;
  font-size: 20px;
}

.modal__info__body {
  padding: 0px 10px;
  width: 100%;
  background: white;
  color: black;
  position: relative;
  scroll-behavior: auto;
}

.modal__info__footer {
 
  width: 100%;
  height: 20%;


}

.contacts {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  border: 0px white solid;
  background: none;
  border-radius: 20px;
  border-color: white;
  padding: 10px 20px;
  box-shadow: 0 0 10px 10px white;
}
.link__website {
  width: 150px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: white;
  text-decoration: none;
}
.modal__list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
}

.item__list {
  background: rgb(235, 160, 160);
  border: 15px white solid;
  border-radius: 20px;
  padding: 10px;
  list-style-type: none;
}

.btn{
 position: fixed;
 z-index: 700;
 background: red;
 display: flex;
 right: 0;
 margin: 0px 30px;
 cursor: pointer;
 width: 100px;
 height: 50px;
}